In [79]:
import pandas as pd
from ast import literal_eval
import plotly.graph_objects as go
import plotly.io as pio
pio.templates.default = "simple_white"

In [80]:
df = pd.read_csv("data/threads.csv",
                 parse_dates=['created_at'],
                 converters={'tags': literal_eval,'messages': literal_eval})
users = pd.read_csv("data/users.csv",
                   converters={'roles': literal_eval})
roles = pd.read_csv("data/roles.csv")

In [81]:
df_learner = users[(users['roles'].apply(len) == 2) & (users['roles'].apply(lambda x: 957854915194126339 in x))]
df_learner

,id,name,is_bot,roles
0,1109074304005582888,lttm,False,"(957854915194126339, 957854915194126336)"
2,1111323678261641216,Ngân,False,"(957854915194126339, 957854915194126336)"
3,1185161514596966541,Nam,False,"(957854915194126339, 957854915194126336)"
4,721361840059318372,beo,False,"(957854915194126339, 957854915194126336)"
5,1192740838262976553,Duy Tran,False,"(957854915194126339, 957854915194126336)"
...,...,...,...,...
595,739467631119302778,Nhật Huy,False,"(957854915194126339, 957854915194126336)"
596,322990339143106573,Eldo,False,"(957854915194126339, 957854915194126336)"
598,1142477711055527997,Linh,False,"(957854915194126339, 957854915194126336)"
599,1159821459078783047,R00lc!3,False,"(957854915194126339, 957854915194126336)"
600,1076376975628832778,Nguyên-DS,False,"(957854915194126339, 957854915194126336)"

In [84]:
df_thread_counts = df['author_id'].value_counts().rename_axis('id').reset_index(name='number_of_threads')
df_merged = pd.merge(df_thread_counts, df_learner, how="left", on='id')
df_merged[['name', 'number_of_threads']].head(10)

              name  number_of_threads
0         Quí Trần                 21
1  Đặng Thanh Tùng                 16
2       Thanh Hiền                 10
3         Nhật Huy                 10
4       Tien Hoang                  6
5      Nguyen Tram                  4
6        Ly Nguyen                  4
7         Ái Khanh                  3
8          Ngan Ly                  3
9             Sáng                  3